body {
    background-color: rgb(20, 20, 20);
    color: green;
    font-family: 'Courier New', Courier, monospace;
    margin: 1vw;
    margin: 1vw;
    font-size: 1vw;
}

.message {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.message-right .content {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
}

.message-right .user-info {
    grid-column: 3 / 3;
}

.user-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: center;
}

.sent {
    font-size: 120%;
    color: darkgreen;
    margin-top: -15%;
}

.user-image {
    border-radius: 2vw;
    width: 5vw;
}

.message-right .user-image {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    margin-left: auto;
}

.message .content {
    background-color: rgb(25, 25, 25);
    padding: 2vw;
}

.message-left .content {
    border-radius: 15px 15px 15px 0px;
}

.message-right .content {
    background-color: rgb(30, 30, 30);
    border-radius: 15px 15px 0px 15px;
    padding: 2vw;
}

@media (max-width: 768px) {
    .message {
        grid-template-columns: 1fr 5fr;
    }

    .message-right .user-info {
        grid-column: 1 / 1;
    }

    .message-right .user-image {
        grid-column: 2 / 2;
        margin-left: 0;
    }

    .message-right .content {
        border-radius: 15px 15px 15px 0px;
    }
}

@media (max-width: 600px) {
    .message {
        grid-template-columns: 1fr 10fr;
    }

    .user-info {
        grid-template-columns: 0fr 5fr;
    }
    .user-image {
        grid-column: 2 / 2;
    }
    
    .name-and-status {
        display: none;
    }
}