body {
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f0f0f0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: black;
}

#menu-toggle {
    display: none; /* Сховати кнопку бургер-меню на десктопах */
    cursor: pointer;
}

#menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 3px 0;
}

/* Додати стилі для адаптивного дизайну */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        margin-top: 10px;
        text-align: center;
    }

    nav li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    #menu-toggle {
        display: block; /* Показати кнопку бургер-меню на мобільних пристроях */
    }
}
